nav {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: fixed;
    height: 80px;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}


@keyframes enhance-header {
    to {
        background: rgb(49, 49, 49);
        backdrop-filter: blur(5px);
        font-size: 18px;
        opacity: 0.7;
    }
}

li {
    list-style: none;
    transition: background-color 500ms, color 500ms;
    width: 100px;
    border-radius: 10px;
    color: white;
}

li:hover {
    background-color: beige;
    color: black;

    opacity: 0.9;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
}

h1 {
    align-self: center;
    color: rgba(247, 224, 161, 0.795);
}

li:hover {
    cursor: pointer;
}

.carrito {
    position: relative;
    top: 5px;
}

.banner {
    width: 200px;
}