img {
    width: 200px;
    height: 200px;
    transition: scale 300ms ease;
    /* border: 2px solid rgba(247, 224, 161, 0.253); */
    
    border-radius: 10%;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.productos {
    margin-top: 100px;
}

img:hover{
    scale: 1.1;
    /* transition-duration: 10ms; */
    cursor: pointer;
    box-shadow: 0 0px 8px rgba(247, 224, 161, 0.795);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.tipoProd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(75, 75, 75);
    /* opacity: 0.9; */
    border-radius: 20px;
    
    border: 1px solid rgba(247, 224, 161, 0.795);
    height: 30px;
    width: 150px;
    font-size: 14px;
}

.tipoDeProducto {
   color:  rgba(247, 224, 161, 0.795);
   font-size: 16px;

}